.componentTableContainer {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.tableControls {
  display: flex;
  flex-grow: 1;
  justify-content: space-between;
}

.left {
  max-width: 808px;
}

.right {
}

.list {
  gap: 8px 4px;
}

.inputOverride {
}

.searchWide {
  width: 317px;
}

.showMore {
}

.modal {
  position: relative;
}

.modalClose {
  position: absolute;
  top: 0; /* Adjust to position it outside the modal body */
  right: -65px; /* Adjust as per your requirement */
  width: 48px;
  height: 48px;
  background: transparent;
  border-radius: 8px;
}
