.container {
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  text-align: left;
  color: #6e7076;
}

.subheader {
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  text-align: left;
}

.infoBlock {
  margin-bottom: 20px;
}

.infoBlock:last-child {
  margin-bottom: 0;
}

.infoList {
  margin-left: 20px;
}

.infoList li::marker {
  padding-left: 2px;
}

:global(.encrease-specificity).divider {
  margin-bottom: 11px;
}
