.card {
  display: flex;
  align-items: center;
  font-size: 12px;
  font-weight: 600;
  line-height: 18px;
  text-align: center;
  height: 22px;
  padding: 2px 4px 2px 4px;
  gap: 2px;
  border-radius: 6px;
}

.red {
  color: #ff5c5c;
  background: rgba(255, 92, 92, 0.08);
}
.orange {
  color: #ff8e26;
  background: rgba(255, 142, 38, 0.08);
}
.yellow {
  fill: #e1b000;
  color: #e1b000;
  stroke: #e1b000;
  background: rgba(255, 229, 0, 0.08);
}
.green {
  color: #1db462;
  fill: #1db462;
  background: rgba(29, 180, 98, 0.08);
}
