.dropdown {
  box-sizing: border-box;
}

.trigger {
  color: #6e7076;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  text-align: left;
  display: flex;
  align-items: center;
  gap: 4px;
  cursor: pointer;
}

.dropdownOpen {
}

:global(.encrease-specificity).dropdownOpen:not(:disabled):not(
    :global(.ant-button-disabled)
  ):hover {
  color: #36394a;
  /* border: 1px solid rgba(212, 215, 221, 1) */
}
:global(.encrease-specificity).dropdownOpen:not(:disabled):not(
    :global(.ant-button-disabled)
  ).active,
:global(.encrease-specificity).dropdownOpen:not(:disabled):not(
    :global(.ant-button-disabled)
  ).active:hover {
  color: #9e9da4;
}

.active {
  color: #9e9da4;
}

:global(.encrease-specificity) .dropdown :global(.ant-dropdown-menu-item) {
  color: #36394a;
  padding: 8px;
  min-width: 160px;
  text-align: left;
}
:global(.encrease-specificity):global(.ant-dropdown)
  .dropdown
  :global(.ant-dropdown-menu-item-selected):hover {
  background-color: #d4d7dd;
}
:global(.encrease-specificity)
  .dropdown
  :global(.ant-dropdown-menu-item-selected)
  :global(.ant-dropdown-menu-title-content) {
  color: #36394a;
}
