.paper {
  position: relative;
  overflow: hidden;
  background:#fff;
  border-radius: 16px;
  padding: 40px 64px;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  gap: 16px;

  width: 1256px;
  min-height: 70vh;
}

.componentUpper {
  max-width: 680px;
}

.header {
  color: #36394A;
  font-weight: 600;
  line-height: 32px;
  font-size: 24px;
  margin-bottom: 4px;
}

.info {
  color: #6E7076;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;

  margin-bottom: 24px;
}

.legoImage {
  position: absolute;
  top: 0;
  right: 0;
}

.list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  margin-bottom: 24px;
}

.listItem {
  padding: 0;
  margin: 0;
}

.tab {
  display: flex;
  padding: 4px 12px;
  border-radius: 6px;
  height: 32px;
  background: rgba(92, 128, 253, 0.08);
  color: #5C80FD;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  justify-content: center;
  gap: 6px;
}

.tabName {

}

.tabCount {
  font-size: 10px;
  font-weight: 600;
  letter-spacing: 8%;
}

.tab__active {
  background: rgba(92, 128, 253, 1);
  color: #fff;
}


.componentTableContainer {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.tableControls {
  display: flex;
  flex-grow: 1;
  justify-content: space-between;
}

.left {
  max-width: 808px;
}

.right {

}